body 
{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif
}

/* Da formato a los labels del navbar */
.navbar-item 
{
    display: inline-block;
    width: 12%;
    min-width: max-content;
    padding: 8px 16px;
    font-size: large;
    text-align: center;
}

/* Cambia el estilo del item del navbar que se encuentre abajo del mouse y también del item seleccionado */
.navbar-item:hover,
.nav-radio:checked + label 
{
    background-color: firebrick;
    color: white;
}

/* Oculta los radio buttons */
.nav-radio 
{
    display: none;
}

/* Oculta y da estilo a las secciones por defecto */
.section 
{
    display: none;
    width: 70%;
}

/* Muestra la seccion que corresponda segun el item seleccionado */
#summary:checked ~ #summary-container,
#experience:checked ~ #experience-container,
#education:checked ~ #education-container,
#technologies:checked ~ #technologies-container,
#languages:checked ~ #languages-container,
#contact:checked ~ #contact-container 
{
    display: block;
}


/* Desde acá se le da estilo al dark mode */
#dark-mode 
{
    display: none;
}

#dark-mode-label
{
    margin: 0 1%;
    display: inline-block;
}

#dark-mode-sun
{
    display: none;
}

#dark-mode-moon
{
    display: inline-block;
    vertical-align: middle;
}

body:has(#dark-mode:checked)
{
    background-color: black;
    color: #00ff41;
    font-family: "Lucida Console", "Monospace", monospace;
}

#dark-mode:checked ~ .navbar-item:hover,
#dark-mode:checked ~ .nav-radio:checked + label
{
    background-color: #00ff41;
    color: black;
}

#dark-mode:checked ~ #dark-mode-label > #dark-mode-sun {
    display: inline-block;
    fill: white;
    vertical-align: middle;
}

#dark-mode:checked ~ #dark-mode-label > #dark-mode-moon
{
    display: none;
}
